
*{
    padding:0;
    margin:0;
    
}
body{
    background-image: url(back%20screen.jpg);
background-position: center;
    background-size: cover;
background-repeat: no-repeat;
}
header{
    background-color: grey;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
}
    
.nav img{
    margin-top:2%; 
    margin-left:1.5%;
    width:10%;
    height: 11%;
float: left;
    box-sizing: border-box;  
}
.nav ul{
    height:15%;
    text-align: right;
    
}
.nav ul li{
    display: inline-block;
    padding:10px;
    position: relative;
    top:6vh;
    margin: 2.2vh;
font-family: sans-serif;
    font-size:3vh;

    box-shadow: 2px,2px;
 list-style: none;
    border: 1px solid black;
     box-shadow: 1vh 1vh grey;
}
.nav ul li a{
    text-decoration: none;
    color:darkgreen;
}
.nav ul li{
    
     border:3px solid black;
}
.nav ul li a:hover{
    
   
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
footer{
     background-color: grey;
    -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
    position: relative;
    top:70%;
    height:15vh;
    width:100%;
    display: flex;

}
.f{flex-grow:0.25;
text-align: center;
}
.f img{
    height: 100px;
    width: 100px;
    text-align: center;
}
.g{flex-grow:0.25;
    text-align: center;
}
.g img{
    height: 100px;
    width: 100px;
}
.h{flex-grow:0.25;
    text-align: center;
}
.h img{
    
    height: 100px;
    width: 100px;
}
.i{flex-grow:0.25;
text-align:center;}
.i img{
    height: 100px;
    width: 100px;;
}
    
main{


    height:10vh;
    position: relative;
    top:25vh;
    color:white;
    text-align: center;
 }
main h1{
display:inline;
    margin-right: 23vh

}
    